<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="br.com.extractor.ygops"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name=".application.YgoPS"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".view.activity.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
            android:name=".view.activity.register.RegisterActivity"
            android:label="@string/profile"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.activity.login.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activity.AboutActivity"
            android:label="@string/about"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.activity.register.MatchRegisterActivity"
            android:label="@string/match"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.activity.register.DeckRegisterActivity"
            android:label="@string/deck"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.activity.register.PlayerRegisterActivity"
            android:label="@string/player"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.activity.consult.DeckConsultActivity"
            android:label="@string/deck_consult"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.activity.consult.PlayerConsultActivity"
            android:label="@string/player_consult"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.activity.edit.ProfileEditActivity"
            android:label="@string/title_activity_profile_edit">
        </activity>
        <activity
            android:name=".view.activity.details.DefeatsDetailsActivity"
            android:label="@string/greatest_defeat">
        </activity>
        <activity
            android:name=".view.activity.details.MoreUsedDecksDetailsActivity"
            android:label="@string/more_used_decks">
        </activity>
    </application>

</manifest>
